<% if model.present? && model.errors.any? %>
  <div class="c-errors">
    <div class="alert alert-warning" role="alert">
      <ul class="mb-0">
        <% model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
