<% provide(:title, "管理者詳細") %>


<style>
    th {
        width: 200px;
    }
</style>
<table class="table">
  <tr>
    <th>ID</th>
    <td><%= @admin.id %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @admin.email %></td>
  </tr>
  <tr>
    <th>作成日時</th>
    <td><%= @admin.created_at %></td>
  </tr>
  <tr>
    <th>変更日時</th>
    <td><%= @admin.updated_at %></td>
  </tr>
</table>
