<div class="p-registrations p-registrations--thanks_create">
  <h1 class="p-registrations__title">パスワードリセットメール送信完了</h1>
  <p class="p-registrations__description">送信したメールのリンクを開いて、パスワードリセットをしてください。</p>
</div>

<div class="text-center u-mt50">
  <%= link_to 'ログインする', users_login_path, class: 'c-btn c-btn--orange' %>
</div>
