<div class="p-registrations p-registrations--activate">
  <h1 class="p-registrations__title">カーゴプレーンへようこそ</h1>
  <p class="p-registrations__description">会員登録を完了しました。ご登録ありがとうございます。</p>
</div>

<div class="text-center u-mt50">
  <%= link_to 'マイページへ', users_me_path, class: 'c-btn c-btn--orange' %>
</div>
