<div class="p-registrations p-registrations--thanks_create">
  <h1 class="p-registrations__title">カーゴプレーンへの仮登録完了</h1>
  <p class="p-registrations__description">仮登録が完了しました。メールを確認して、アカウントを有効化してください。</p>
</div>

<div class="text-center u-mt50">
  <%= link_to 'ログインする', users_login_path, class: 'c-btn c-btn--orange' %>
</div>
